<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Produtos
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="/listar"" class=" dropdown-item">Listar</a></li>
                          <li><a href="/estoque_min" class="dropdown-item">Estoque minimo</a></li>
                          <li><a href="/maior_preco" class="dropdown-item">Maior Preco</a></li>
                          <li><a href="/menor_preco" class="dropdown-item">Menor Preço</a></li>
                          <li><a href="/cadastrar_categoria" class="dropdown-item">Cadastrar Categoria</a></li>
                      </ul>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Clientes
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="/login" class="dropdown-item">Logar</a></li>
                          <li><a href="/listar_c" class="dropdown-item">Listar</a></li>
                          <li><a href="/cadastrar_cliente" class="dropdown-item">Cadastrar</a></li>
                          <li><a href="/cadastrar_p" class="dropdown-item">Cadastrar Produto</a></li>
                      </ul>
                  </li>
              </div>
          </div>
      </div>
  </nav>


    <h1><%=message%></h1>
    <h2><%=error.status%></h2>
    <pre><%=error.stack%></pre>
</body>
</html>